---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>As Instructor of Record</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html hide_excerpt=true %}
{% endfor %}

<h2>As Graduate TA</h2>

<h3>COMP 435: Computer Security Concepts</h3>
<p>UNC Chapel Hill, Fall 2026</p>

<h3>COMP 550: Algorithms and Analysis</h3>
<p>UNC Chapel Hill, Fall 2025</p>

<h2>As Undergraduate TA</h2>

<h3>CSC 230: Elementary Data Structures & Algorithms</h3>
<p>UNC-Greensboro, Spring 2022</p>

<h3>CSC 130: Intro to Computer Science</h3>
<p>UNC-Greensboro, Spring 2023/Fall 2022/Spring 2022/Fall 2021</p>